
<h1 class="margin" id="headings" style="color:#c3b755;">Gallery</h1>
<div class="container">
<div class="col-md-12">
<div class="row">
<hr>

	<div class="gal">

	<img class="img-reponsive" src="/assets/images/_MG_0741.jpg" alt="">

		<img class="img-reponsive"src="/assets/images/Capture.JPG" alt="">

			<img class="img-reponsive"src="/assets/images/DSC_5531.JPG" alt="">

			<img class="img-reponsive"src="/assets/images/Quinoa salad 1.5.jpg" alt="">



			<img class="img-reponsive"src="/assets/images/DSC_3850.jpg" alt="">
				<img class="img-reponsive"src="/assets/images/IMG_0180.JPG" alt="">

			<img class="img-reponsive"src="/assets/images/IMG_0180.JPG" alt="">

				<img class="img-reponsive"src="/assets/images/DSC_5531.JPG" alt="">

				<img class="img-reponsive"src="/assets/images/Capture.JPG" alt="">





	</div>

</div>
</div>
</div>
