.fa {
  padding: 10px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer{
  padding-top: 10px;
  padding-bottom: 10px;

}

.container-fluid{
  padding-top: 15px;
  padding-bottom: 10px;
}

.alignleft img{ width: 110px;
   height: 25px;}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .alignleft img{ width: 55px;
     height: 10px;}

     .fa {
       padding: 5px;
       font-size: 5px;
       width: 15px;
       text-align: center;
       text-decoration: none;
       margin: 2px 1px;
       border-radius: 50%;
     }
.alignright{
  font-size: 7px;

}

}
