<footer>
<div class="container-fluid" >
  <p class="alignleft"><img src="/assets/images/Hellocomfblk.png" alt="logo"  ></p>
  <p class="alignright">
  +27 21 555 5555 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; info@hellocomputer.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-instagram"></a></p>
  </div>

</footer>
