<div  style="overflow-x:auto;">

<table id="recipes">
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Ingredients</th>
    <th>Cooking Time</th>
    <th>Preparation Method</th>
  </tr>
  <tr  *ngFor = "let recipe of recipeTemp">
    <td>{{ recipe.title }}</td>
    <td> {{recipe.category}}</td>
    <td>{{recipe.ingredients}}</td>
    <td>{{recipe.cookingTime}}</td>
    <td>{{recipe.prep}}</td>
  </tr>


</table>
</div>
