#recipes {
  font-family: 'Source Sans Pro', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#recipes td, #recipes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#recipes tr:nth-child(even){background-color: #f2f2f2;}

#recipes tr:hover {background-color: #ddd;}

#recipes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c3b755;
  color: white;
}

#headings {
font-family: 'Rakkas', cursive;
color:  #c3b755;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}
