<h1 id="headings">HelloFood Recipes</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" #profileF="ngForm">
<h3 id="headings">Enter new recipe!</h3>
<br>
<label id="labels">
  Recipe title: <br>
  <input type="text" formControlName="title" required>
</label>
<br>
<label id="labels">
  Category: <br>
  <input type="text" formControlName="category" required>
</label>
<br>

  <label id="labels">
    Preparation time: <br>
    <input type="number" formControlName="cookingTime" required>
  </label>
<br>
  <label id="labels">
    Ingredients: <br>
    <input type="text" formControlName="ingredients" required>
  </label>
  <br>
  <label id="labels">
    Preparation method: <br>
    <input type="text" formControlName="prep" required>
  </label>
<br>
  <button type="submit" [disabled]="!profileForm.valid"  id="labels" >Submit</button>


<!-- <P>Value: {{profileForm.value.prep}} </P> -->
</form>
<button (click)="profileF.onReset()" id="labels" >Clear</button>
<br>
<br>
