<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
  <div class="container-fluid modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Get in touch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #form="ngForm" aria-hidden="true" [hidden]="submitted">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">

            <div [hidden]="name.valid || name.pristine " class="alert alert-danger">
              Name is required
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine " class="alert alert-danger">
              Email is required
            </div>
          </div>
          <div class="form-group">
            <label for="msg">Message</label>
            <input type="text" class="form-control" id="msg" required [(ngModel)]="model.msg" name="msg" #msg="ngModel">
            <div [hidden]="msg.valid || msg.pristine " class="alert alert-danger">
              Message is required
            </div>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Submit</button>
          <button type="button" class="btn btn-default" (click)="newForm();form.reset()">Clear Form</button>
        </form>
        <div [hidden]="!submitted">
          <h2>You submitted the following:</h2>
          <div class="row">
            <div class="col-xs-3">Name</div>
            <div class="col-xs-9">{{ model.name }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Email</div>
            <div class="col-xs-9">{{ model.email }}</div>
          </div>
          <div class="row">
            <div class="col-xs-3">Message</div>
            <div class="col-xs-9">{{ model.msg }}</div>
          </div>
          <br>
          <button class="btn btn-primary" (click)="submitted=false">Edit</button>
          <button class="btn btn-primary" (click)="submitted=false;newForm();form.reset()">New Form</button>
        </div>
      </div>
    </div>
  </div>
</div>
