<section class="cover">
  <nav class="navbar navbar-expand-md navbar-dark opaque-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid logo">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/Hellocomf.png" alt="logo"  height="25px" width="110px">

      </a>
    </div>



    <div class="collapse navbar-collapse ml-auto" id="collapsibleNavbar">
      <ul class="navbar-nav  ml-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/" routerLinkActive="active">Intro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="recipe"  routerLinkActive="active">Recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery"  routerLinkActive="active">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="launch" data-toggle="modal" data-target="#exampleModalCenter">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <br>

  <div class="container-fluid" id="jumbo">
    <h1 class="margin" id="heading1">Pear Parfait <br /> with Bayleaf</h1>
    <br>
    <p id="lorems1">Lorem ipsum dolor sit amet, saperet tacimates nam in, sed appareat iudicabit euripidis in, mel id vivendo gloriatur. Ut pri adhuc aeque, ut nonumy mediocrem salutandi ius. Legimus pericula at mea. Ne nulla partem intellegam pri,
      quem ceteros disputationi usu at. Ne nam scripta adolescens.

      Cu duo noluisse electram signiferumque, ad eos ridens probatus. Id pro enim omnesque, nibh novum periculis ad mea, eos ea libris definitionem. Pri tacimates convenire ex, in omnis impedit meliore mei, et pro explicari molestiae. Vitae probatus
      philosophia ei quo, tale exerci platonem ei pro.

      Sed sint quaeque te, iudicabit repudiandae ad per, id volumus apeirian vel. Abhorreant intellegam at cum, has in purto summo albucius. Quodsi mollis commodo in cum, modo temporibus ad sea, at his omnis verear maiorum. His veri omittam
      signiferumque</p>

    <button type="button" class="btn btn-outline-light btn-lg">Read more</button>
  </div>
</section>
<app-form></app-form>

<!-- Modal -->
