.cover {
  background: #2b2d34 url(foodie.jpg) center;
  background-size: cover;
  min-height: 50rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem; }


.logo{
  justify-content: left;
}

  .h1{
    color: #c3b755;

  }

  #headings {
font-family: 'Rakkas', cursive;
}



#heading1 {
  font-family: 'Rakkas', cursive;
  font-size: 50px;
}

.container-fluid {

   padding-top: 20px;
   padding-bottom: 70px;

 }

 .opaque-navbar {
     background-color: rgba(0,0,0,0);}

  .p {
    color: #000000;
  }

  #lorems1 {
    font-family: 'Source Sans Pro', sans-serif;
    width: 50%;
  }

  #lorems2 {
    font-family: 'Source Sans Pro', sans-serif;
  }

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  #lorems1{
    font-size: 10px;
    width: 50%;
  }

#heading1{
  font-size: 50px;
}
}
