





.bg-1 {
  background-color: #f8f9fb; /* Green */

}

#headings {
font-family: 'Rakkas', cursive;
}

.container-fluid {

   padding-top: 70px;
   padding-bottom: 70px;
   padding-left: 150px;
   padding-right: 150px;

 }

 #lorems2 {
    font-family: 'Source Sans Pro', sans-serif;


  }

  .p {

    color: #000000;
  }

  * {
      box-sizing: border-box;
    }

    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }



    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }


		/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
		/*
		  ##Device = Desktops
		  ##Screen = 1281px to higher resolution desktops
		*/

		@media (min-width: 1281px) {

		  //CSS

		}

		/*
		  ##Device = Laptops, Desktops
		  ##Screen = B/w 1025px to 1280px
		*/

		@media (min-width: 1025px) and (max-width: 1280px) {

		  //CSS

		}

		/*
		  ##Device = Tablets, Ipads (portrait)
		  ##Screen = B/w 768px to 1024px
		*/

		@media (min-width: 768px) and (max-width: 1024px) {

		  //CSS

		}

		/*
		  ##Device = Tablets, Ipads (landscape)
		  ##Screen = B/w 768px to 1024px
		*/

		@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

		  //CSS

		}

		/*
		  ##Device = Low Resolution Tablets, Mobiles (Landscape)
		  ##Screen = B/w 481px to 767px
		*/

		@media (min-width: 481px) and (max-width: 767px) {

		  //CSS

		}

		/*
		  ##Device = Most of the Smartphones Mobiles (Portrait)
		  ##Screen = B/w 320px to 479px
		*/

		@media (min-width: 320px) and (max-width: 480px) {

			#lorems2 {
		     font-size: 10px;
		   }

			 .container-fluid {
			    padding-top: 70px;
			    padding-bottom: 70px;
			    padding-left: 30px;
			    padding-right: 30px;
			  }

.gal img{ width: 100%; height: auto; padding: 2px 2px;}

		}
